.body_background 
{
    background-image: url("https://pm1.narvii.com/6847/5108ad7c36e6417bb6c7d83b6eace2dc6c52ad44v2_hq.jpg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
    border-radius: 10px;
    width: 200px;
    padding: 5px;
 }
h3
{
    display: inline-block;
}
span
{
    color: black;   
}
a
{
    text-decoration: none;
    font-size: 20px;
    padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
    width: 600px;
    border-radius: 10px;
    margin-bottom: 10px;
}

